/*Roboto - Regular & Bold*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*Roboto Slab - Regular & Bold*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: #3957f1;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
}

/*ESTILOS EJERCICIO 1*/

header {
    margin-top: 30xpx;
    text-align: center;

}

nav {
    background-color: white;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    padding-left: 20px;
}

nav ul li a {
    font-size: 24px;
    color: #04146c;
    text-decoration: none;  /*Borra el underline*/
}

#logo {
    width: 5%;
}

h1 {
    font-size: 96px;
    color: #0a2ff1;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 0;
}

p {
    font-size: 34.66px;
    color: #04146c;
    margin: 0;
    padding-bottom: 20px;
}

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.activo {
    margin: 0px;
    padding: 0px;
}

/*ESTILOS EJERCICIO 3*/

.e-3 {
    background-color: white;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 45.33px;
    color: #0a2ff1;
    margin: 0;
    padding: 0;
}

h3, p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #04146c;
}

footer {
    height: 60px;
    background-color: #3957f1;
    background-image: no-repeat;
    background-size: contain;
}

#footer {
    width: 80%;
    padding-left: 5%;
    display: flex;
}

.e-3 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 80px bottom -70px;
}
