@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

html {
    font-size: 16px;
}

/*Contenedor 1: Título*/

.title {
    margin: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Mulish Bold', sans-serif;
    font-size: 4rem;
    color: #3957f1;
    text-align: center;
}

/*Contenedor 2: Imagenes con texto*/

.container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.images {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-image,
.second-image,
.third-image,
.fourth-image {
    background-size: cover;
    width: 100%;
}

img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se ajuste correctamente en su contenedor */
}

.first-box,
.second-box,
.third-box,
.fourth-box {
    height: 350px;
    width: 323px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*Estilo para dar las sombras*/
    display: block;
    border: 0;
    margin: 10px 0 50px 10px;
    overflow: hidden; /*Evita que el texto se salga de la caja, pero corta todo lo que sobresale*/
}

.first-option,
.second-option,
.third-option,
.fourth-option {
    text-align: center;
}

h2 {
    font-family: 'Mulish Regular', sans-serif;
    font-size: 2rem;
    color: #15163d;

}

/*Con esta Query hago que el diseño tome el 100% de la pantalla, logrando así una imagen compresible al achicar la pantalla por debajo de 
los 768 px*/
@media (max-width: 768px) {

    .first-box,
    .second-box,
    .third-box,
    .fourth-box {
        width: 100%;
    }
}