@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&family=Mulish:wght@400;700&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    padding: 20px;
    margin: 20px;
    border: 1px solid #808080;
}

h1 {
    font-size: 49.33px;
    color: #04146c;
}

p {
    font-size: 24px;
    color: #04146c;
}

a {
    font-size: 24px;
    color: #0a2ff1;
    text-decoration: none;
}

.texto {
    margin: 0;
    padding: 0;
}

/* Imagen */
img {
    max-width: 100%;
    /* Asegura que la imagen no se salga de su contenedor */
    height: auto;
    /* Mantiene la proporción de aspecto de la imagen */
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    img {
        width: 100%;
        /* La imagen ocupará el 100% del ancho disponible */
    }
}

/* Estilos para pantallas superiores a 768 px */
@media screen and (min-width: 769px) {

    /* Utilizo un min-width para decir que es el mínimo del rango */
    img {
        width: 80%;
        /* La imagen ocupará el 80% del ancho disponible */
    }
}

@media (max-width: 768px) {
    body {
        padding: 5px;
    }
  }
