@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin: auto;
    width: 550px;
    height: 550px;
    padding: 50px;
}

.container {
    border: 1px solid grey; /* Establece un borde sólido de 1 píxel de ancho y color gris */
    padding: 10px; /* Agrega un espacio de relleno dentro del div para separar el contenido del borde */
  }
  

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}

button, input {
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    font-family: 'Mulish regular', sans-serif;
    font-size: 18.66px;
    color: #414166;
    background-color: white;
}

button {
    font-family: 'Mulish semibold', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #0a2ff1;
}

h1 {
    font-size: 24px;
    color: #04146c;
}

p {
    font-size: 18.66px;
    color: #0a2ff1;
}
